@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.containerm {
  display: flex;
  height: 100vh;
}

/* Add your custom styles below this line */
.left {
  background-image: linear-gradient(0deg, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)),
    url("../img/smiling-female-cashier-with-buyer-checkout-counter-grocery-store.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 70%;
}

.hero {
  font-size: 50px;
  margin-bottom: 55px;
  font-weight: bold;
}

.btn-primary {
  background-color: #8114857d;
  border: none;
}

.btn-primary:hover {
  background-color: #ca20cf7d;
}

.right {
  /* background-color: #E8EBF2; */
  width: 50%;
}

.fon-cli {
  --y-0: 80%;
  --c-0: #bdead4;
  --x-0: 85%;
  --y-1: 24%;
  --c-1: #a3c2ff;
  --x-1: 60%;
  --x-2: 13%;
  --c-2: #f84dff7d;
  --y-2: 82%;
  --x-3: 24%;
  --y-3: 7%;
  --c-3: #73e4e8;
  background-color: hsla(358.0000000000001, 0%, 100%, 1);
  background-image: radial-gradient(
      circle at var(--x-0) var(--y-0),
      var(--c-0) var(--s-start-0),
      transparent var(--s-end-0)
    ),
    radial-gradient(
      circle at var(--x-1) var(--y-1),
      var(--c-1) var(--s-start-1),
      transparent var(--s-end-1)
    ),
    radial-gradient(
      circle at var(--x-2) var(--y-2),
      var(--c-2) var(--s-start-2),
      transparent var(--s-end-2)
    ),
    radial-gradient(
      circle at var(--x-3) var(--y-3),
      var(--c-3) var(--s-start-3),
      transparent var(--s-end-3)
    );
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: normal, normal, normal, normal;
  background-attachment: fixed;
}

.btn-success {
  background-color: #1be22c7d;
  border: none;
}

.formi {
  height: 550px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto 10px auto;
  align-items: center;
  padding: 20px 40px;
  max-width: 1200px;
  color: #ffffff;
}

input {
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border-color: #d115c1;
  color: #d115c1;
  padding: 0 20px;
  font-size: 16px;
}

.contenedorp {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto 40px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.populares {
  color: #d115c1 /* transparent */;
  /*   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #d115c1; */
  text-align: center;
  font-weight: 30px;
}

.contenedorp .pelicula {
  text-align: center;
  transition: 0.5s ease-in-out;
}

.contenedorp .pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}

.contenedorp .pelicula .poster {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  transition: 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra */
}

.contenedorp .pelicula .poster:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in;
  filter: brightness(0.6);
}

.paginacion {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.paginacion button {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 100px;
  background: #d115c1;
  color: #ffffff;
  font-weight: 600;
  transition: 0.3s ease all;
}

.paginacion button:hover {
  background: #d167ba;
}

#button-up {
  width: 40px;
  height: 40px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 0.3s ease;
  transform: scale(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}
#button-up:hover {
  transform: scale(1.1);
  border-color: rgba(0, 0, 0, 0.1);
}

body.dark {
  background: black;
  color: #fff;
}

.switch {
  background: #343d5b;
  border-radius: 1200px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 0;
}

.switch.active {
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: 0 0;
  color: #000000;
  padding: 0 0 0 7px;
}

.switch {
  width: 100px;
  height: 40px;
  position: fixed; /* Fija el botón en la pantalla */
  bottom: 20px; /* Ajusta la distancia desde el fondo */
  left: 20px; /* Ajusta la distancia desde la derecha */
  z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
  padding: 5px;
  background-color: #fff; /* Color de fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cursor de mano */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

.switch span {
  margin: 0 5px; /* Espaciado entre iconos */
}

.switch i {
  font-size: 16px; /* Tamaño de los iconos */
  color: #333; /* Color de los iconos */
}
